<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href="/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
