body {
  background-image: url(/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h3, p {
  color: #FFF;
}

.table {
  width: 0;
  max-width: 0;
}

td {
  height: 59px;
  width: 50px;
  text-align: center;
}

span.glyphicon {
  font-size: 3em;
}

#chessboard {
  margin-left: auto;
  margin-right: auto;
  /*border: 5px solid #400F08;*/
}

#chessboard td {
  background: #FFF;
}

#chessboard tr:nth-child(odd) td:nth-child(even),
#chessboard tr:nth-child(even) td:nth-child(odd) {
  background-image: url(/grain_dark.jpeg);
}
#chessboard tr:nth-child(even) td:nth-child(even),
#chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-image: url(/grain_light.jpeg);
}

.yin {
  color: white;
}
