td {
  height: 50px;
  width: 50px;
  text-align: center;
}
/*
#chessboard table {
  width: 90%;
  padding-bottom: 90%;
}*/

#chessboard {
  border: 5px solid #825201;
}

#chessboard td {
  background: #FFF;
}

#chessboard tr:nth-child(odd) td:nth-child(even),
#chessboard tr:nth-child(even) td:nth-child(odd) {
  background: #a37547;
}
#chessboard tr:nth-child(even) td:nth-child(even),
#chessboard tr:nth-child(odd) td:nth-child(odd) {
  background: #b69b4c;
}

.yin {
  color: white;
}
