body {
  background-image: url(/bg.jpg);
  background-size: cover;
  background-repeat: none;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
}
/*
#chessboard table {
  width: 90%;
  padding-bottom: 90%;
}*/

span.glyphicon {
  font-size: 1.5em;
}

#chessboard {
  border: 5px solid #825201;
}

#chessboard td {
  background: #FFF;
}

#chessboard tr:nth-child(odd) td:nth-child(even),
#chessboard tr:nth-child(even) td:nth-child(odd) {
  background-image: url(/grain_dark.jpeg);
  /*background: #a37547;*/
}
#chessboard tr:nth-child(even) td:nth-child(even),
#chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-image: url(/grain_light.jpeg);
  /*background: #b69b4c;*/
}

.yin {
  color: white;
}
